.dialog-window{
  display: inline-block;
  position: relative;
}

.dialog-window_close{
  width: get-m-vw(16px);
  height: get-m-vw(16px);
  right: get-m-vw(5px); top: get-m-vw(5px);
  display: block;
  position: absolute;
  mask: url('~assets/images/close.svg') center / cover no-repeat;
  background: $sand;
  z-index: 2;
}

u.dialod-trigger{
  width: max-content;
  cursor: default;
}

.dialog-window_content-wrapper{
  max-width: get-m-vw(264px);
  width: max-content;
  height: max-content;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% + #{get-m-vw(10px)});
  position: absolute;
  backdrop-filter: blur(8px);
  color: $black;
  border: get-m-vw(2px) solid $black;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: 0.3s;

  .dialog-window_content{
    padding: get-m-vw(10px);
    overflow: hidden;

    h4{ @include m-bebas-22-bold; }
    p{ @include m-helvetica-12-medium; }
  }

  &::after{
    width: 0; height: 0;
    left: 0; right: 0;
    margin: auto;
    bottom: get-m-vw(-10px);
    position: absolute;
    border-top: get-m-vw(10px) solid $black;
    border-left: get-m-vw(10px) solid transparent;
    border-right: get-m-vw(10px) solid transparent;
    content: '';
  }

  &.bottom{
    top: calc(100% + #{get-m-vw(10px)});
    bottom: unset;

    &::after{
      top: get-m-vw(-10px);
      bottom: unset;
      border-top: 0;
      border-bottom: get-m-vw(10px) solid $black;
    }
  }
}

.dialog-window.hover{
  u.dialod-trigger:hover ~ .dialog-window_content-wrapper{ opacity: 1; }
}

.dialog-window.click{

  u.dialod-trigger{ cursor: pointer; }
  &.active .dialog-window_content-wrapper{ opacity: 1; pointer-events: all; }
}
