@keyframes play {
 50%{ opacity: 0; }
 75%{ opacity: 1; }
 100%{ opacity: 0; }
}

#pre-footer{
  width: 100vw;
  height: max-content;
  padding: get-m-vw(20px);
  margin-bottom: get-m-vw(-1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  color: $sand;
  z-index: 5;

  a{
    order: 2;
    margin-top: get-m-vw(32px);
    display: block;
    position: relative;

    img{
      width: get-m-vw(176px);
      display: block;
    }
    img.blink{
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      animation-name: play;
      animation-play-state: running;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }
  }

  h2{
    @include m-bebas-25-bold;
  }

  br:first-child{ display: none; }
}

footer{
  width: 100vw;
  padding: get-m-vw(20px);
  display: flex;
  flex-direction: column;
  background: $black;
  color: $sand;
}

.footer_contact-info{
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: get-m-vw(32px);

  & > h2{
    margin-bottom: get-m-vw(20px);
    grid-column: 1/3;
    @include m-bebas-30-bold;
    opacity: 0.5;
  }

  &_block{
    * span{ opacity: 0.8; }
    h2{ @include m-bebas-30-bold; }
    h3{
      @include m-helvetica-12-bold;
      opacity: 0.8;
    }
    & > span:nth-last-child(2){ margin-top: get-m-vw(4px); }
    & > span {
      display: block;
      @include m-bebas-22-bold;
    }
  }

  &_block:nth-child(4){
    padding-top: get-m-vw(20px);
    grid-column: 1/3;
    & > span{ display: inline-block; }
    & > :last-child{ margin-left: get-m-vw(8px); }
  }

  &_buttons{
    padding-top: get-m-vw(20px);
    grid-column: 1/3;
    a{
      width: max-content;
      height: get-m-vw(30px);
      display: inline-block;
      padding: 0 get-m-vw(15px);
      padding-top: get-m-vw(6px);
      background: $sand;
      color: $black;
      border-radius: get-m-vw(3px);
      @include m-bebas-20-bold;
    }

    a:last-child{ margin-left: get-m-vw(8px); }
  }
}

.footer_map{
  margin-top: get-m-vw(20px);

  div{
    width: 100%;
    height: get-m-vw(200px);
  }

  span{ display: none; }
}

.footer_site-map{
  display: none;
}
