.dreamcast-wrapper{
  width: get-m-vw(220px);
  height: max-content;
  padding-bottom: get-m-vw(28px);
  left: get-m-vw(20px);
  top: get-m-vw(310px);

  p{margin-top: 4px};

  z-index: 2;
}

#dreamcast_form{
  padding: get-m-vw(10px) get-m-vw(24px) 0 0;

  display: grid;
  grid-template:
  repeat(10, max-content)
  #{/ 100%};
  grid-row-gap: get-m-vw(6px);

  input{
    height: get-m-vw(20px);
    padding-left: get-m-vw(3px);
    display: block;
    color: $black;
    @include m-bebas-14-bold;
  }
  ::placeholder{
    opacity: 0.6;
    color: $black;
  }
  hr{
    width: 100%;
    height: get-m-vw(2px);
    margin-top: get-m-vw(-6px);

    background-color: $black;
    border: none;
  }

  span {
    @include m-helvetica-12-medium;
    letter-spacing: get-m-vw(-0.5px);
    color: rgba($black, .6);

    a { 
      line-height: get-m-vw(20px);
      font-weight: 700;
      display: block;
      color: rgba($black, 1);
    }
  }

  button{
    width: 100%;
    height:  get-m-vw(32px);
    padding-left: get-m-vw(9px);
    padding-top: get-m-vw(4px);
    left: 0; bottom: 0;

    position: absolute;

    background-color: $black;
    color: $sand;
    @include m-bebas-20-bold;
  }
}
