.form-wrapper{
  width: get-m-vw(230px);
  height: get-m-vw(296px);
  left: get-m-vw(20px);
  top: get-m-vw(310px);

  p{margin-top: 4px};

  z-index: 2;
}

#form{
  padding: get-m-vw(10px) get-m-vw(24px) 0 0;

  display: grid;
  grid-template:
  repeat(10, max-content)
  #{/ 100%};
  grid-row-gap: get-m-vw(6px);

  input{
    height: get-m-vw(20px);
    padding-left: get-m-vw(3px);
    display: block;
    color: $black;
  }
  ::placeholder{
    opacity: 0.6;
    color: $black;
  }
  hr{
    width: 100%;
    height: get-m-vw(2px);
    margin-top: get-m-vw(-6px);

    background-color: $black;
    border: none;
  }
  button{
    width: 100%;
    height:  get-m-vw(32px);
    padding-left: get-m-vw(9px);
    padding-top: get-m-vw(4px);
    left: 0; bottom: 0;

    position: absolute;

    background-color: $black;
    color: $sand;
  }
}
