header#header{
  width: 100vw;
  height: max-content;
  min-height: get-m-vw(36px);
  left: 0; top: 0;
  padding-left: get-m-vw(4px);
  padding-right: get-m-vw(10px);

  position: fixed;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(8px);

  border-bottom: $black solid get-m-vw(2px);

  .logo{
    width: get-m-vw(100px);
    height: 100%;

    background-color: $black;
    mask-image: url('../../images/logo.svg');
    mask-size: 98% auto;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  button{
    width: get-m-vw(22px);
    height: get-m-vw(18px);

    background-color: $black;
    mask-image: url('../../images/mobile/open_menu.svg');
    mask-size: auto 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    justify-self: flex-end;
  }

  .nav-container.active{
    max-height: get-m-vw(490px);
    padding-top: get-m-vw(20px);
    padding-bottom: get-m-vw(40px);
  }

  .nav-container{
    grid-column: 1/3;
    width: 100%;
    height: max-content;
    max-height: 0px;
    padding: 0;

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-row-gap: get-m-vw(36px);
    justify-items: flex-end;

    text-align: right;

    transition-property: max-height, padding;
    transition-duration: 0.5s;
    overflow: hidden;
  }

  nav{
    height: max-content;

    transition: max-height 0.25s;

    ul{
      margin-top: get-m-vw(4px);

      display: grid;
      grid-auto-flow: row;
      grid-row-gap: get-m-vw(8px);
    }
  }

  .contacts-container{
    display: grid;
    grid-template:
    max-content /
    repeat(2, max-content);
    grid-row-gap: get-m-vw(8px);
    grid-column-gap: get-m-vw(36px);

    & > h2{ grid-column: 1/3; }

    .person{
      display: grid;
      grid-auto-flow: row;

      h3{ margin-bottom: get-m-vw(4px); }
    }
  }

  .sales-dep-container{
    display: grid;
    grid-template:
    repeat(2, max-content) /
    repeat(2, max-content);
    grid-row-gap: get-m-vw(4px);
    grid-column-gap: get-m-vw(10px);

    & > h2{ grid-column: 1/3; }

    a{
      width: max-content;
      height: get-m-vw(30px);
      padding: 0 get-m-vw(15px);
      padding-top: get-m-vw(6px);
      background-color: $black;
      color: $sand;
      border-radius: get-m-vw(5px);
      @include m-bebas-20-bold;
    }
  }
}

header#header.light{
  color: $sand;
  border-color: $sand;

  .logo, button{ background-color: $sand };
  .sales-dep-container a{
    background-color: $sand;
    color: $black;
  };

  .sales-dep-container
  a:nth-child(4){
    background-color: transparent;
    background-image: url('../../images/wa_icon.svg');
  }
  .sales-dep-container
  a:nth-child(5){
    background-color: transparent;
    background-image: url('../../images/fb_icon.svg');
  }
  .sales-dep-container
  a:nth-child(6){
    background-color: transparent;
    background-image: url('../../images/inst_icon.svg');
  }
}

header#header.samsung{
  background-color: rgba(255, 250, 236, 0.65);
}
header#header.light.samsung{
  background-color: rgba(29, 32, 56, 0.65);
}
