.m-hide{ display: none; }

section#stats{
  width: 100vw;
  height: max-content;
  padding: get-m-vw(20px);
  padding-top: get-m-vw(100px);
  padding-bottom: get-m-vw(40px);

  position: relative;

  background-color: $sand;
  background-image: url('../../images/Pattern_1.svg');

  color: $black;
}

.stats--article-1{
  .stage-3{
    right: get-m-vw(20px); top: get-m-vw(190px + 20px);

    position: absolute;
    text-align: right;
    letter-spacing: get-m-vw(-0.4px);

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: get-m-vw(15px);
    justify-items: flex-end;

    h3 sup{ font-size: get-m-vw(13px); }
    & > :nth-child(1){ margin-bottom: get-m-vw(-15px); }
    & > :nth-child(2){ width: get-m-vw(212px); }
    & > :nth-child(3){ width: get-m-vw(290px); }
    & > :nth-child(4){ width: get-m-vw(155px); }
  }

  .stage-2{
    width: get-m-vw(194px);
    left: get-m-vw(20px); top: get-m-vw(508px + 20px);

    position: absolute;

    letter-spacing: get-m-vw(-0.4px);
  }

  .stage-1{
    width: get-m-vw(218px);
    left: get-m-vw(20px); top: get-m-vw(690px + 20px);

    position: absolute;

    letter-spacing: get-m-vw(-0.4px);
  }

  .profit{
    margin-top: get-m-vw(660px);
    padding: get-m-vw(10px) get-m-vw(5px) get-m-vw(5px) get-m-vw(5px);

    background-color: $sand;
    box-shadow: 0px get-m-vw(2px) get-m-vw(6px) 0px rgba(0,0,0,0.18);

    h3 :nth-child(1),
    h3 br{display: none;}
  }

  .text-left-container{
    h2{letter-spacing: get-m-vw(-0.85px);}
    h2 br{display: none;}
  }

  .text-right-container{
    margin-top: get-m-vw(80px);
  }

  .comparison{
    img{display: none;}

    width: 100%;
    height: get-m-vw(138px);
    margin-top: get-m-vw(30px);

    background-image: url('../../images/mobile/comparison.svg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .comparison-notice{
    margin-top: get-m-vw(14px);
  }
}

#stats--article-2-anchor{
  width:0;
  height:0;
  bottom: 321vw;
  position: absolute;
}

.stats--article-2{

  margin-top: get-m-vw(100px);
  position: relative;
  z-index: 2;

  .text-left-container h2{
    display: none;
  }
  .text-left-container .graph{
    width: get-m-vw(375px);
    height: get-m-vw(524px);
    margin-left: get-m-vw(-20px);
    margin-top: get-m-vw(36px);

    background-image: url('../../images/mobile/stats_graph.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .text-right-container{
    margin-top: get-m-vw(60px);
    position: relative;

    img{
      width: get-m-vw(227px);
      margin-top: get-m-vw(20px);
    }

    ::before{
      width: 100vw;
      height: calc(100% + 22vw);
      left: get-m-vw(-20px); top: get-m-vw(-65px);

      position: absolute;

      background-color: $sand;
      content: '';
      z-index: -1;
    }
  }
}

#stats--article-3{
  padding-top: get-m-vw(80px);

  color: $black;
  z-index: 2;

  .text-left-container{
    h3:nth-child(2){ display: none; }
    h3:nth-child(3){ margin-top: get-m-vw(20px); }
    h3:nth-child(5){ margin-top: get-m-vw(24px); }
    p{ margin-top: get-m-vw(16px); }
  }

  .text-right-container{
    margin-top: get-m-vw(60px);

    img, span{ display: block; }

    //first block
    div:nth-child(1){
      padding: get-m-vw(10px);
      padding-bottom: get-m-vw(20px);

      background-color: $sand;
      box-shadow: 0px get-m-vw(2px) get-m-vw(6px) 0px rgba(0,0,0,0.18);

      img{ margin-top: get-m-vw(10px); }
    }

    div:nth-child(2){
      margin-top: get-m-vw(16px);

      span{ margin-top: get-m-vw(8px); }
    }
  }

  .slider{
    width: get-m-vw(320px);
    margin-top: get-m-vw(20px);
    position: relative;

    .wrapper{
      width: get-m-vw(288px);
      overflow: hidden;
    }

    .container{
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: get-m-vw(42px);

      &.transition{
        transition: 0.3s;
      }
    }

    &.transition button{ color: transparent!important; }

    button{
      width: get-m-vw(24px);
      height: get-m-vw(180px);
      right: get-m-vw(6px); top: get-m-vw(24px);

      position: absolute;
      display: inline-block;

      background-color: $black;
      color: $sand;
      transition: 0.3s;

      span{
        width: 100%;
        display: block;
        padding-right: get-m-vw(4px);

        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
      }

      &::before{
        width: 0; height: 0;
        display: block;
        position: absolute;
        right: get-m-vw(-11.5px);
        top: 0; bottom: 0;
        margin: auto;

        border-left: get-m-vw(12px) solid $black;
        border-top: get-m-vw(12px) solid transparent;
        border-bottom: get-m-vw(12px) solid transparent;
        content: '';
      }
    }

    .slide{
      width: get-m-vw(288px);

      img{ width: 100%; }
    }
  }
}

#popcorn-static{
 width: 100%;
 height: get-m-vw(542px);
 left: 0; top: get-m-vw(200px + 40px);

 position: absolute;

 background-image: url('../../images/mobile/popcorn.svg');
 background-size: auto 100% ;
 background-position: left get-m-vw(-109px) bottom;
 background-repeat: no-repeat;
}
