.m-hide{ display: none; }

section#stats{
  width: 100vw;
  height: max-content;
  padding: get-m-vw(20px);
  padding-top: get-m-vw(100px);
  padding-bottom: get-m-vw(40px);

  position: relative;

  background-color: $sand;
  background-image: url('../../images/Pattern_1.svg');

  color: $black;
}

.stats--article-1{
  .stage-3{
    right: get-m-vw(20px); top: get-m-vw(190px + 20px);

    position: absolute;
    text-align: right;
    letter-spacing: get-m-vw(-0.4px);

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: get-m-vw(15px);
    justify-items: flex-end;

    h3 sup{ font-size: get-m-vw(13px); }
    & > :nth-child(1){ margin-bottom: get-m-vw(-15px); }
    & > :nth-child(2){ width: get-m-vw(212px); }
    & > :nth-child(3){ width: get-m-vw(290px); }
    & > :nth-child(4){ width: get-m-vw(155px); }
  }

  .stage-2{
    width: get-m-vw(194px);
    left: get-m-vw(20px); top: get-m-vw(508px + 20px);

    position: absolute;

    letter-spacing: get-m-vw(-0.4px);
  }

  .stage-1{
    width: get-m-vw(218px);
    left: get-m-vw(20px); top: get-m-vw(690px + 20px);

    position: absolute;

    letter-spacing: get-m-vw(-0.4px);
  }

  .profit{
    margin-top: get-m-vw(660px);
    padding: get-m-vw(10px) get-m-vw(5px) get-m-vw(5px) get-m-vw(5px);

    background-color: $sand;
    box-shadow: 0px get-m-vw(2px) get-m-vw(6px) 0px rgba(0,0,0,0.18);

    h3 :nth-child(1),
    h3 br{display: none;}
  }

  .text-left-container{
    h2{letter-spacing: get-m-vw(-0.85px);}
    h2 br{display: none;}
  }

  .text-right-container{
    margin-top: get-m-vw(80px);
  }

  .comparison{
    img{display: none;}

    width: 100%;
    height: get-m-vw(138px);
    margin-top: get-m-vw(30px);

    background-image: url('../../images/mobile/comparison.svg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .comparison-notice{
    margin-top: get-m-vw(14px);
  }
}

#stats--article-2-anchor{
  width:0;
  height:0;
  bottom: 321vw;
  position: absolute;
}

.stats--article-2{

  margin-top: get-m-vw(100px);
  position: relative;
  z-index: 2;

  .text-left-container h2{
    display: none;
  }
  .text-left-container .graph{
    width: get-m-vw(375px);
    height: get-m-vw(524px);
    margin-left: get-m-vw(-20px);
    margin-top: get-m-vw(36px);

    background-image: url('../../images/mobile/stats_graph.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .text-right-container{
    margin-top: get-m-vw(60px);
    position: relative;

    img{
      width: get-m-vw(227px);
      margin-top: get-m-vw(20px);
    }

    ::before{
      width: 100vw;
      height: calc(100%);
      left: get-m-vw(-20px); top: get-m-vw(-65px);

      position: absolute;

      background-color: $sand;
      content: '';
      z-index: -1;
    }
  }
}

#stats--article-3{
  padding-top: get-m-vw(80px);

  color: $black;
  z-index: 2;

  .text-left-container{
    h3{ display: none; }
    p{ margin-top: get-m-vw(16px); }
  }

  .text-right-container{
    margin-top: get-m-vw(60px);

    img, span{ display: block; }

    //first block
    div:nth-child(1){
      padding: get-m-vw(10px);
      padding-bottom: get-m-vw(20px);

      background-color: $sand;
      box-shadow: 0px get-m-vw(2px) get-m-vw(6px) 0px rgba(0,0,0,0.18);

      img{ margin-top: get-m-vw(10px); }
    }

    div:nth-child(2){
      margin-top: get-m-vw(16px);

      span{ margin-top: get-m-vw(8px); }
    }
  }

  .GraphSlider{
    margin-top: get-m-vw(24px);

    display: grid;
    grid-auto-flow: row;

    h3{
      grid-column: 1/3;
      display: block;
    }

    .slide-wrapper{
      margin-top: get-m-vw(16px);
      transition: opacity 0.3s;
    }
    .slide{
      width: get-m-vw(288px);
      height: auto;
    }

    button{
      width: get-m-vw(26px);
      height: get-m-vw(180px);

      background-size: 100% auto;
      background-position: center;
      transition: opacity 0.3s;
    }
  }

  #GraphSlider-1{
    button{ margin-top: get-m-vw(36px); }
    button.bg-2{
      background-image: url('../../images/mobile/GraphSliderButton_1_1.svg');
    }
    button.bg-1{
      background-image: url('../../images/mobile/GraphSliderButton_1_2.svg');
    }
  }
  #GraphSlider-2{

    .slide{ min-height: get-m-vw(273px); }

    button{ margin-top: get-m-vw(48px); }
    button.bg-2{
      background-image: url('../../images/mobile/GraphSliderButton_2_1.svg');
    }
    button.bg-1{
      background-image: url('../../images/mobile/GraphSliderButton_2_2.svg');
    }
  }
}

#popcorn-static{
 width: 100%;
 height: get-m-vw(542px);
 left: 0; top: get-m-vw(200px + 20px);

 position: absolute;

 background-image: url('../../images/mobile/popcorn.svg');
 background-size: auto 100% ;
 background-position: left get-m-vw(-109px) bottom;
 background-repeat: no-repeat;
}
