section#title{
  width: 100vw;
  padding: 0 get-m-vw(20px);

  background-color: $sand;
}

section#title >
article{
  padding-top: get-m-vw(250px);
  padding-bottom: get-m-vw(142px);

  h2{
    margin-top: get-m-vw(35px);
  }
  .links-container{
    margin-top: get-m-vw(10px);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: get-m-vw(5px);

    a{
      width: max-content;
      height: get-m-vw(22px);
      padding: 0 get-m-vw(5px);
      padding-top: get-m-vw(6px);
      background-color: $black;
    }
  }
}

article.title--aside{

  padding-bottom: get-m-vw(82px);
  ul{
    margin-top: get-m-vw(50px);

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: get-m-vw(16px);
  }
  .notice{
    width: get-m-vw(198px);
    margin-left: get-m-vw(32px);
    margin-top: get-m-vw(30px);
    display: block;
  }
}
