@keyframes play {
 50%{ opacity: 0; }
 75%{ opacity: 1; }
 100%{ opacity: 0; }
}

#pre-footer{
  width: 100vw;
  height: max-content;
  padding: get-vw(48px) get-vw(130px) 0 get-vw(120px);
  margin-bottom: get-vw(-1px);

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $black;
  color: $sand;
  z-index: 5;

  a{
    display: block;
    position: relative;

    img{
      width: get-vw(206px);
      display: block;
    }
    img.blink{
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      animation-name: play;
      animation-play-state: running;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }
  }

  a:hover{
    img.blink{
      opacity: 1!important;
      animation-play-state: paused;
    }
  }

  h2{
    text-align: right;
  }

  br:first-child{ display: none; }
}

footer{
  width: 100vw;
  padding: get-vw(42px) get-vw(140px) get-vw(100px) get-vw(140px);
  display: flex;
  justify-content: space-between;
  background: $black;
  color: $sand;
}

.footer_contact-info{
  padding-right: get-vw(92px);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: get-vw(72px);

  & > h2{
    padding-bottom: get-vw(28px);
    grid-column: 1/3;
    @include bebas-30-bold;
  }

  &_block{
    * span{ opacity: 0.8; }
    h2{ @include bebas-30-bold; }
    h3{
      @include helvetica-14-bold;
      opacity: 0.8;
    }
    & > span:nth-last-child(2){ margin-top: get-vw(4px); }
    & > span {
      display: block;
      @include bebas-20-bold;
    }
  }

  &_block:nth-child(4){
    padding-top: get-vw(28px);
    grid-column: 1/3;
    span:last-child{
      display: inline-block;
      margin-left: get-vw(8px);
    }
  }

  &_buttons{
    padding-top: get-vw(8px);
    grid-column: 1/3;
    a{
      width: max-content;
      height: get-vw(32px);
      display: inline-block;
      padding: 0 get-vw(15px);
      padding-top: get-vw(6px);
      background: $sand;
      color: $black;
      border-radius: get-vw(3px);
      @include bebas-20-bold;
    }

    a:last-child{ margin-left: get-vw(8px); }
  }
}

.footer_map{
  padding-right: get-vw(60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  div{
    width: get-vw(282px);
    height: get-vw(200px);
  }

  span{
    margin-top: get-vw(14px);
    @include bebas-20-bold;
  }
}

.footer_site-map{
  padding-left: get-vw(60px);
  padding-top: get-vw(10px);
  padding-bottom: get-vw(28px);
  border-left: get-vw(2px) solid $sand;

  h2{ @include bebas-30-bold; }
  h3{ @include bebas-20-bold; }
  li{ @include helvetica-12-regular; }
  ul{
    margin-top: get-vw(14px);
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: get-vw(4px);
  }
}
