.form-wrapper{
  width: get-vw(212px);
  height: get-vw(296px);
  left: get-vw(120px); top: get-vw(356px);
}

#close-form{
  display: none;
}

#form{
  padding: get-vw(10px) get-vw(24px) 0 0;

  display: grid;
  grid-template:
  repeat(10, max-content)
  #{/ 100%};
  grid-row-gap: get-vw(6px);

  input{
    padding-left: get-vw(3px);
    display: block;
    color: $black;
  }
  ::placeholder{
    opacity: 0.6;
    color: $black;
  }
  hr{
    width: 100%;
    height: get-vw(2px);
    margin-top: get-vw(-6px);

    background-color: $black;
    border: none;
  }
  button{
    width: 100%;
    height:  get-vw(34px);
    padding-left: get-vw(9px);
    left: 0; bottom: 0;

    position: absolute;

    background-color: $black;
    color: $sand;
  }
}
