.pc-hide{ display: none; }

section#stats{
  width: 100vw;

  position: relative;

  background-image: url('../images/Pattern_1.svg');
  background-size: get-vw(320px) get-vw(200px);
  background-position: top right 100px;
  background-repeat: round;

  article{
    width: 100%;
    height: get-vw(800px);

    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

/*article 1*/
section#stats .stats--article-1{
  padding: get-vw(75px) get-vw(20px) 0 get-vw(80px);

  /*text left*/
  .text-left-container{
    width: get-vw(424px);

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    justify-items: flex-end;

    & > *{
      align-items: flex-end;
      justify-items: flex-end;
    }

    & > :nth-child(3){
      width: get-vw(236px);
      height: get-vw(121px);
      padding: get-vw(14px) get-vw(10px);

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background-color: $sand;
      box-shadow: 0px get-vw(2px) get-vw(6px) 0px rgba(0,0,0,0.18);

      h3{
        letter-spacing: get-vw(-0.9px);
        :nth-child(2){ display: none; }
      }
    }

    & > :nth-child(4){
      padding-right: get-vw(14px);
      display: grid;
      grid-auto-flow: row;
      grid-row-gap: get-vw(6px);
    }

    & > :nth-child(5){
      padding-right: get-vw(14px);

      display: flex;
      flex-direction: column;
    }

    /*margins and width*/
    & > :nth-child(1){
      width: get-vw(424px);
    }
    & > :nth-child(2){
      justify-self: left;
      width: get-vw(315px);
      margin-top: get-vw(-5px);
    }
    & > :nth-child(3){
      width: get-vw(238px);
      margin-top: get-vw(33px);
    }
    & > :nth-child(4){
      width: get-vw(238px);
      margin-top: get-vw(59px);
    }
    & > :nth-child(5){
      width: get-vw(238px);
      margin-top: get-vw(51px);
    }
    /*text align*/
    & > :nth-last-child(-n+3){
      margin-right: get-vw(147px);
      text-align: right;
    }
  }

  /*text right*/
  .text-right-container{
    width: get-vw(284px);
    padding-top: get-vw(75px);

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    justify-items: flex-end;
    text-align: right;

    & > *{
      justify-items: flex-end;
    }

    & > :nth-child(1){
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: max-content;
      grid-row-gap: get-vw(8px);

      h3{
        padding-right: get-vw(8px);
      }

      h3 sup{
        top: get-vw(-1px);
        right: 0;
        position: absolute;
        line-height: get-vw(10px);
      }
      sup{
        font-family: 'Helvetica Neue';
        font-weight: 500;
        font-size: get-vw(10px);
      }
    }

    & > :nth-child(2){
      margin-top: get-vw(72px);
    }

    & > :nth-child(3){
      margin-top: get-vw(16px);

      display: grid;
      grid-auto-flow: column;
      grid-template:
      #{1fr} /
      get-vw(85px) get-vw(70px);
      grid-column-gap: get-vw(43px);
      justify-items: center;
      align-items: end;

      img{
        width: 100%;
        height: auto;
        display: block;
      }
    }

    & > :nth-child(4){
      margin-top: get-vw(13px);
    }
  }

  /*icons before h3's*/
  h3{
    width: max-content;
    padding-left: get-vw(18px);
    position: relative;
  }

  h3:not(.no-before):before{
    width: get-vw(14px);
    height: get-vw(14px);
    left: 0;
    top: get-vw(-7px); bottom: 0;
    margin: auto;

    position: absolute;

    border-radius: 50%;
    content: '';
  }

  h3.orange-before:before{
    background-color: #8170F5;
  }
  h3.blue-before:before{
    background-color: #FFBD28;
  }
  h3.red-before:before{
    background-color: #E90043;
  }

}

/*article 2*/

#stats--article-2-anchor{
  width:0;
  height:0;
  top: get-vw(800px);
  position: absolute;
}

section#stats .stats--article-2{
  display: flex;
  background: $sand;
  background-image: url('../images/Pattern_1.svg');
  background-size: get-vw(320px) get-vw(200px);
  background-position: top right 100px;
  background-repeat: round;

  .text-left-container{
    flex-shrink: 0;
    width: get-vw(960px);

    & > :nth-child(1){
      width: get-vw(412px);
      margin-left: get-vw(115px);
      margin-top: get-vw(80px);
    }
    & > :nth-child(2){
      width: get-vw(418px);
      margin-left: get-vw(115px);
      margin-top: get-vw(-5px);
    }
    & > :nth-child(3){
      width: get-vw(385px);
      margin-left: get-vw(115px);
      margin-top: get-vw(70px);
    }
    & > :nth-child(4){
      width: get-vw(800px);
      height: get-vw(412px);
      margin-left: get-vw(65px);
      margin-top: get-vw(22px);

      background-image: url('../images/stats_graph.svg');
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }

  .text-right-wrapper{
    flex-grow: 1;
    background-color: $sand;
  }

  .text-right-container{
    height: 100%;
    padding-left: get-vw(30px);
    padding-top: get-vw(180px);

    position: relative;

    & > :nth-child(2){
      width: get-vw(225px);
      margin-left: get-vw(5px);
      margin-top: get-vw(48px);

      display: block;
    }
  }
}

//article 3

#stats--article-3{
  width: 100vw;
  height: get-vw(800px);

  display: flex;

  color: $black;

  .text-left-container{
    flex-shrink: 0;
    width: get-vw(960px);
    height: 100%;
    padding: get-vw(90px) get-vw(24px) 0 get-vw(124px);

    display: grid;
    grid-template:
    repeat(3, max-content) /
    max-content 1fr;
    grid-column-gap: get-vw(26px);

    h1, h3{ grid-column: 1/3; }

    .slider{
      width: get-vw(505px);
      height: max-content;
      margin-top: get-vw(45px);
      position: relative;

      .wrapper{
        width: get-vw(505px);
        overflow: hidden;
      }

      .container{
        display: flex;

        &.transition{
          transition: 0.3s;
        }
      }

      &.transition button{ color: transparent!important; }

      button{
        width: get-vw(40px);
        height: get-vw(18px);
        right: get-vw(0px); bottom: get-vw(0px);

        position: absolute;
        display: inline-block;

        background-color: $black;
        color: $sand;
        transition: 0.3s;

        span{
          width: 100%;
          padding-top: get-vw(2px);
          display: block;
          text-align: center;
        }

        &::before{
          right: get-vw(-6px); top: 0;
          position: absolute;
          border-left: get-vw(6px) solid $black;
          border-top: get-vw(9px) solid transparent;
          border-bottom: get-vw(9px) solid transparent;
          content: '';
        }
      }

      .slide{
        flex-shrink: 0;
        width: get-vw(505px);

        img{
          width: 100%;
          display: block;
        }
      }
    }

    & > img{
      width: get-vw(505px);
      height: auto;
      margin-top: get-vw(20px);
      display: block;
    }
    p{
      grid-row: 2/4;
      grid-column: 2/3;
      margin-top: get-vw(45px);
    }
  }

  .text-right-container{
    flex-grow: 1;
    height: 100%;
    padding: 0 get-vw(14px);
    padding-top: get-vw(90px);

    position: relative;
    background-color: $sand;

    img, span{ display: block; }

    //first block
    & > div:nth-child(1){
      padding: get-vw(10px);

      background-color: $sand;
      box-shadow: 0px get-vw(2px) get-vw(6px) 0px rgba(0,0,0,0.18);

      img{
        width: 100%;
        height: auto;
        margin-top: get-vw(10px);
      }
    }
    //second block
    & > div:nth-child(2){
      margin-top: get-vw(36px);

    & > img{
        width: get-vw(324px);
        height: auto;
        left: 0; top: get-vw(414px);
        position: absolute;
      }

      & > span:nth-child(3){ margin-top: get-vw(292px); }
      & > span:nth-child(4){ margin-top: get-vw(10px); }
    }
  }

}

//divider

#stats--divider{
  width: get-vw(320px);
  height: get-vw(800px * 2);
  right: 0; bottom: 0;

  position: absolute;
  pointer-events: none;

  &::before{
    width: get-vw(2px);
    height: calc( 100vh - 5.07812vw * 2 );
    margin-top: get-vw(65px);
    margin-bottom: get-vw(65px);
    left: get-vw(0px);
    top: get-vw(65px);

    position: sticky;
    display: block;

    background-color: $black;
    content: '';
    z-index: 2;
  }
}

//slider

#movie-slider{
  width: get-vw(320px);
  height: get-vw(267.95px);

  left: 0;
  bottom: get-vw(150px);

  position: absolute;

  display: flex;
  align-items: center;

  overflow-y: hidden;
  overflow-x: hidden;

  .wrapper{
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    align-items: center;
  }

  .container{
    margin-left: get-vw(-120px - 191px);
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: get-vw(20px);

    &.transition{ transition: transform 0.3s; }

  }

  .transition .slide{ transition: 0.3s; }

  .slide{
    width: get-vw(171px);
    height: get-vw(244px);

    img{
      width: 100%;
      height: auto;
    }

    &.active{ transform: scale(1.1); }
  }

  button{
    width: get-vw(24px);
    height: get-vw(24px);
    top: 0; bottom: 0;
    margin: auto;

    position: absolute;

    background-size: get-vw(24px);
    background-position: center;
    background-repeat: no-repeat;

    &.prev{
      left: get-vw(14px);
      background-image: url('../images/movie-slider/prev.svg');
    }
    &.next{
      right: get-vw(14px);
      background-image: url('../images/movie-slider/next.svg');
    }
  }
}

//animation
#popcorn-container{
    width: 100%;
    height: get-vw(800px);
    left: 0; top: 0;

    position: absolute;

    z-index: -1;
}

#stats--stage-1,
#stats--stage-2,
#stats--stage-3{
  opacity: 0;
  transition: opacity 2s;
}
