.cinema-efficiency-section{
  padding-bottom: get-m-vw(490px);
  position: relative;
}

.cinema-efficiency-anchor{
  height: calc(#{get-m-vw(735px)} + #{get-m-vw(490px)});
  max-height: #{get-m-vw(735px + 490px)};
  bottom: 0;
  position: absolute;
}

#subtitles-wrapper {
  pointer-events: none;
  z-index: 2;

  #subtitles-animation {
    top: 0;
    height: max-content;
    position: sticky;
    display: flex;
    align-items: center;
    overflow: hidden;

    svg{
      width: 100%!important;
      height: auto!important;
    }
  }
}

#about-wrapper{
  width: 100%;
  height: calc(#{get-m-vw(735px)} * 2.5 + #{get-m-vw(490px)});
  bottom: 0; left: 0;
  position: absolute;
}

#about{
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top:0;
  position: sticky;
}

#about--article{
  width: 100%;
  height: #{get-m-vw(735px)};
  max-height: get-m-vw(735px);
  padding: get-m-vw(64px) get-m-vw(20px) get-m-vw(40px) get-m-vw(20px);

  display: grid;
  grid-auto-flow: row;
  grid-template-rows:
  max-content max-content;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  align-content: space-between;
  background: $black;

  background-image:
   url('~assets/images/Pattern_1.svg'),
   url('~assets/images/about_bg_1.jpg'),
   url('~assets/images/about_bg_2.jpg'),
   url('~assets/images/about_bg_3.jpg');
  background-size: auto, auto get-m-vw(735px), auto get-m-vw(735px),
   auto get-m-vw(735px);
  background-repeat:
    repeat,
    no-repeat,
    no-repeat,
    no-repeat;

  transition: background-position 1s;

  .text-intro{
    .m-hide{ display: none; }
  }
  .text-main-wrapper{
    transition: 0.5s;
  }
  .text-main{
    margin-top: get-m-vw(10px);

    p{
      min-height: get-m-vw(100px);

      br{ display: none; }
     }
  }
}
.m-bg-0{
  background-position:
   left top,
   left get-m-vw(-484px) top,
   left 100vw top,
   left 200vw top!important;
}
.m-bg-1{
  background-position:
   left top,
   right 100vw top,
   left get-m-vw(-77px) top,
   left 100vw top!important;
}
.m-bg-2{
  background-position:
   left top,
   right 200vw top,
   right 100vw top,
   right get-m-vw(-710px) top!important;
}

.about--controls{
  align-self: flex-end;

  h2{
    margin-left: get-m-vw(2px);
    @include m-bebas-35-bold;

    span{
      display: block;
      @include m-bebas-20-bold;
    }
  }

  ul{
    margin-top: get-m-vw(14px);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: get-m-vw(2px);

    li{
      height: get-m-vw(22px);
      padding: 0 get-m-vw(4px);
      padding-top: get-m-vw(5px);
      border-radius: get-m-vw(5px);
      cursor: pointer;
    }

    li.active{
      background-color: $sand;
      color: $black;
    }

    &:hover li.active:not(li.active:hover){
      background-color: transparent;
      color: $sand;
    }
    li:hover{
      background-color: $sand;
      color: $black;
    }
  }
}

#about--aside{
  width: 100vw;
  height: max-content;
  padding: get-m-vw(20px);
  padding-top: get-m-vw(80px);

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-row-gap: get-m-vw(34px);
  color: $black;

  p{
    margin-top: get-m-vw(2px);
  }
}

//controls highlight

.about--controls ul.animated{
  li:not(.active){
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 7s;
  }

  li.active{
    animation-name: active_blink;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 7s;
  }

  li:nth-child(1){
    animation-delay: 0s;
  }
  li:nth-child(2){
    animation-delay: 0.75s;
  }
  li:nth-child(3){
    animation-delay: 1.5s;
  }
}

@keyframes blink{
  0%  { background-color: rgba(255, 250, 236, 0); color: $sand; }
  15% { background-color: rgba(255, 250, 236, 0.5); color: $sand; }
  30%{ background-color: rgba(255, 250, 236, 0); color: $sand; }
  100%{ background-color: rgba(255, 250, 236, 0); color: $sand; }
}

@keyframes active_blink{
  0%  { background-color: rgba(255, 250, 236, 0); color: $sand; }
  15% { background-color: rgba(255, 250, 236, 0.5); color: $sand; }
  30%{ background-color: rgba(255, 250, 236, 1); color: $black; }
  100%{ background-color: rgba(255, 250, 236, 1); color: $black; }
}
