#about{
  width: 100vw;
  height: max-content;

  display: flex;
  flex-direction: column;
}

#about--article{
  width: 100%;
  height: var(--vh);
  padding: get-m-vw(60px) get-m-vw(20px) get-m-vw(40px) get-m-vw(20px);

  display: grid;
  grid-auto-flow: row;
  grid-template-rows:
  max-content 1fr max-content;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  background: $black;

  background-image:
   url('~assets/images/Pattern_1.svg'),
   url('~assets/images/about_bg_1.jpg'),
   url('~assets/images/about_bg_2.jpg'),
   url('~assets/images/about_bg_3.jpg');
  background-size: auto, auto get-m-vw(735px), auto get-m-vw(735px),
   auto get-m-vw(735px);
  background-repeat:
    repeat,
    no-repeat,
    no-repeat,
    no-repeat;

  transition: background-position 1s;

  .text-intro{
    .m-hide{ display: none; }
  }
  .text-main-wrapper{
    transition: 0.5s;
  }
  .text-main{
    margin-top: get-m-vw(10px);

    p{
      min-height: get-m-vw(100px);

      br{ display: none; }
     }
  }
}
.m-bg-0{
  background-position:
   left top,
   left get-m-vw(-484px) top,
   left 100vw top,
   left 200vw top;
}
.m-bg-1{
  background-position:
   left top,
   right 100vw top,
   left get-m-vw(-77px) top,
   left 100vw top;
}
.m-bg-2{
  background-position:
   left top,
   right 200vw top,
   right 100vw top,
   right get-m-vw(-36px) top;
}

.about--controls{
  align-self: flex-end;

  h3{
    opacity: 0.5;
    margin-left: get-m-vw(2px);
  }

  ul{
    margin-top: get-m-vw(17px);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: get-m-vw(2px);

    li{
      height: get-m-vw(22px);
      padding: 0 get-m-vw(4px);
      padding-top: get-m-vw(6px);

      cursor: pointer;
    }

    li.active{
      background-color: $sand;
      color: $black;
    }

    &:hover li.active:not(li.active:hover){
      background-color: transparent;
      color: $sand;
    }
    li:hover{
      background-color: $sand;
      color: $black;
    }
  }
}

#about--aside{
  width: 100vw;
  height: max-content;
  padding: get-m-vw(20px);
  padding-top: get-m-vw(80px);

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-row-gap: get-m-vw(34px);
  color: $black;

  p{
    margin-top: get-m-vw(2px);
  }
}

//controls highlight

.about--controls ul.animated{
  li:not(.active){
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 7s;
  }

  li.active{
    animation-name: active_blink;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 7s;
  }

  li:nth-child(1){
    animation-delay: 0s;
  }
  li:nth-child(2){
    animation-delay: 0.75s;
  }
  li:nth-child(3){
    animation-delay: 1.5s;
  }
}

@keyframes blink{
  0%  { background-color: rgba(255, 250, 236, 0); color: $sand; }
  15% { background-color: rgba(255, 250, 236, 0.5); color: $sand; }
  30%{ background-color: rgba(255, 250, 236, 0); color: $sand; }
  100%{ background-color: rgba(255, 250, 236, 0); color: $sand; }
}

@keyframes active_blink{
  0%  { background-color: rgba(255, 250, 236, 0); color: $sand; }
  15% { background-color: rgba(255, 250, 236, 0.5); color: $sand; }
  30%{ background-color: rgba(255, 250, 236, 1); color: $black; }
  100%{ background-color: rgba(255, 250, 236, 1); color: $black; }
}
