.filming-section_table{
  width: 100%;
  margin-top: get-m-vw(90px);

  &_spoiler{
    width: 100%;
    height: max-content;
    margin-top: get-m-vw(-2px);
    border: get-m-vw(2px) solid $black;

    &_button{
      width: 100%;
      height: get-m-vw(36px);
      padding-top: get-m-vw(8px);
      padding-left: get-m-vw(16px);
      position: relative;
      display: block;
      background: $sand;
      color: $black;
      @include m-bebas-20-bold;
      border-bottom: get-m-vw(2px) solid $black;
      z-index: 1;
    }

    &_content{
      width: 100%;
      height: max-content;
      margin-top: get-m-vw(-2px);
      max-height: 0px;
      position: relative;
      overflow-y: hidden;
      transition: max-height 0.3s;
      background: $sand;
      z-index: 0;
    }

    input{
      width: 0; height: 0;
      -webkit-appearance: none;
      position: absolute;
    }

    input:checked ~ &_content{
      max-height: 1000px;
    }

    input:checked ~ label{
      background: $black;
      color: $sand;
    }
  }
}

.filming-section_table{

  .dialog-window_content-wrapper{
    transform: translateX(-17%);
    &::after{ left: get-m-vw(50px); right: unset; }
  }

  &_reference{
    padding: get-m-vw(24px) get-m-vw(16px);

    h3{ @include m-bebas-30-bold; }

    &_movies{
      margin-top: get-m-vw(18px);
      display: grid;
      grid-auto-rows: max-content;
      grid-row-gap: get-m-vw(14px);

      span{ @include m-bebas-20-bold; }

      ul{
        margin-top: get-m-vw(5px);
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: get-m-vw(38px);
        justify-content: space-between;
        text-align: center;
        @include m-bebas-20-bold;
      }

      ul:nth-child(2){ color: rgba($black, 0.7); }
    }
  }

  &_tariff-plan{
    display: flex;

    &_left{
      padding-top: get-m-vw(12px);
      padding-left: get-m-vw(4px);
      width: 50%;
      border-right: get-m-vw(2px) solid $black;

      tbody{
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: get-m-vw(16px);
        align-items: center;
        @include m-helvetica-12-bold;
        line-height: get-m-vw(10px);

        tr{
          height: get-m-vw(24px);
          display: flex;
          align-items: center;
        }

        tr:first-child,
        tr:last-child{
          height: get-m-vw(42px);
          @include m-bebas-20-bold;
        }

        span{ color: rgba($black, 0.5); }
      }
    }

    &_right{
      width: 50%;
      overflow-x: hidden;

      .slide:nth-child(2) table{
        border-color: #FF6969;
        tr:nth-child(1){ background: #FF6969; }
        tr:last-child{ background: rgba(#FF6969, 0.2); }
      }
      .slide:nth-child(3) table{
        border-color: #FFB858;
        tr:nth-child(1){ background: #FFB858; }
        tr:last-child{ background: rgba(#FFB858, 0.2); }
      }
      .slide:nth-child(4) table{
        border-color: #9D9AAD;
        tr:nth-child(1){ background: #9D9AAD; }
        tr:last-child{ background: rgba(#9D9AAD, 0.2); }
      }

      table{
        margin: get-m-vw(10px) get-m-vw(6px);
        border-radius: get-m-vw(10px);
        border: get-m-vw(2px) solid;
        backdrop-filter: blur(2px);
        overflow: hidden;
      }

      table, tbody{ display: block; }

      tbody{
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: get-m-vw(16px);
        justify-items: center;
        @include m-bebas-20-bold;

        tr{
          width: 100%;
          height: get-m-vw(24px);
          display: flex;
          justify-content: center;
          align-items: center;
          th{ color: $sand; }
        }
        tr:first-child,
        tr:last-child{
          height: get-m-vw(42px);
        }
      }
    }
  }

  &_profit-forecast{
    display: flex;

    &_left{
      padding-top: get-m-vw(12px);
      padding-left: get-m-vw(4px);
      width: 50%;
      border-right: get-m-vw(2px) solid $black;

      tbody{
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: get-m-vw(16px);
        align-items: center;
        @include m-bebas-20-bold;
        line-height: get-m-vw(10px);

        tr{
          height: get-m-vw(24px);
          display: flex;
          align-items: center;
        }

        tr:first-child{ height: get-m-vw(42px); }

        th{
          position: relative;
          span{
            bottom: get-m-vw(-8px);
            left: 0;
            position: absolute;
            color: rgba($black, 0.75);
            @include m-helvetica-10-bold;
          }
        }
      }
    }

    &_right{
      width: 50%;
      overflow-x: hidden;

      .slide:nth-child(2) table{
        border-color: #FF6969;
        tr:nth-child(1){ background: #FF6969; }
        tr:last-child{ background: rgba(#FF6969, 0.2); }
      }
      .slide:nth-child(3) table{
        border-color: #FFB858;
        tr:nth-child(1){ background: #FFB858; }
        tr:last-child{ background: rgba(#FFB858, 0.2); }
      }
      .slide:nth-child(4) table{
        border-color: #9D9AAD;
        tr:nth-child(1){ background: #9D9AAD; }
        tr:last-child{ background: rgba(#9D9AAD, 0.2); }
      }

      table{
        margin: get-m-vw(10px) get-m-vw(6px);
        border-radius: get-m-vw(10px);
        border: get-m-vw(2px) solid;
        backdrop-filter: blur(2px);
        overflow: hidden;
      }

      table, tbody{ display: block; }

      tbody{
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: get-m-vw(16px);
        justify-items: center;
        @include m-bebas-20-bold;
        color: #006C11;

        tr{
          width: 100%;
          height: get-m-vw(24px);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        tr:first-child{
          height: get-m-vw(42px);
          color: $sand;
        }
        tr:last-child{
          height: get-m-vw(42px);
          color: $black;
        }
      }
    }

    .notice{
      width: get-m-vw(150px);
      left: get-m-vw(4px);
      bottom: get-m-vw(16px);
      position: absolute;
      @include m-helvetica-10-bold;
      color: $black;
      span{ color: rgba($black, 0.75); }

      &::before{
        width: get-m-vw(14px);
        height: get-m-vw(14px);
        margin-bottom: get-m-vw(-4px);
        margin-right: get-m-vw(4px);
        display: inline-block;
        background: #006C11;
        border-radius: get-m-vw(2px);
        content: '';
      }
    }
  }

  &_efficiency-forecast{
    display: flex;
    flex-wrap: wrap;

    table, tbody{ display: block; }

    &_left{
      padding-top: get-m-vw(12px);
      padding-left: get-m-vw(4px);
      width: 50%;
      border-right: get-m-vw(2px) solid $black;
      text-align: left;

      tbody{
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: get-m-vw(16px);
        align-items: center;
        @include m-bebas-20-bold;
        line-height: get-m-vw(10px);

        tr{
          height: get-m-vw(24px);
          display: flex;
          align-items: center;
        }
        tr:first-child{ height: get-m-vw(76px); }
        tr:last-child{
          height: get-m-vw(80px);
          padding-top: get-m-vw(38px);
        }
        th{ line-height: get-m-vw(20px); }
        tr:not(:last-child) td{
          position: relative;
          span{
            white-space: nowrap;
            top: get-m-vw(20px);
            left: 0;
            position: absolute;
            color: rgba($black, 0.75);
            @include m-helvetica-10-bold;
          }
        }
        td:last-child span{ color: rgba($black, 0.75); }
      }
    }

    &_right{
      width: 50%;
      overflow-x: hidden;

      .slide:nth-child(2) table{
        border-color: #FF6969;
        tr:nth-child(1){ background: #FF6969; }
        tr:last-child{ background: rgba(#FF6969, 0.2); }
      }
      .slide:nth-child(3) table{
        border-color: #FFB858;
        tr:nth-child(1){ background: #FFB858; }
        tr:last-child{ background: rgba(#FFB858, 0.2); }
      }
      .slide:nth-child(4) table{
        border-color: #9D9AAD;
        tr:nth-child(1){ background: #9D9AAD; }
        tr:last-child{ background: rgba(#9D9AAD, 0.2); }
      }

      table{
        margin: get-m-vw(10px) get-m-vw(6px);
        border-radius: get-m-vw(10px);
        border: get-m-vw(2px) solid;
        backdrop-filter: blur(2px);
        overflow: hidden;
      }

      table, tbody{ display: block; }

      tbody{
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: get-m-vw(16px);
        justify-items: center;
        @include m-bebas-20-bold;

        tr{
          width: 100%;
          height: get-m-vw(24px);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        tr:first-child{
          height: get-m-vw(42px);
          color: $sand;
        }
        tr:nth-child(2){
          height: get-m-vw(58px);
          padding-top: get-m-vw(34px);
        }
        tr:nth-last-child(2){
          height: get-m-vw(62px);
          padding-bottom: get-m-vw(38px);
        }
        tr:last-child{
          height: get-m-vw(42px);
          color: $black;
        }
      }
    }

    &_bottom{
      width: 100%;
      border-top: get-m-vw(2px) solid $black;

      tbody{
        padding: get-m-vw(20px) 0 get-m-vw(32px) get-m-vw(4px);
        display: grid;
        grid-auto-rows: max-content;
        grid-row-gap: get-m-vw(6px);

        tr:nth-child(2){ margin-top: get-m-vw(8px); }
      }

      th{ @include m-bebas-22-bold; }
      td{ @include m-bebas-20-bold; color: rgba($black, 0.8); }
    }

    .notice{
      left: get-m-vw(8px);
      bottom: get-m-vw(10px);
      position: absolute;
      @include m-helvetica-10-bold;
      color: rgba($black, 0.75);
    }
  }

  &_additional{
    padding: get-m-vw(24px) get-m-vw(16px);
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: get-m-vw(20px);

    h2{ @include m-bebas-30-bold; }
    h3{ @include m-bebas-20-bold; }
    p{ @include m-helvetica-12-bold; span{ color: rgba($black, 0.75); } }
  }
}

.filming-section_table{
  .slider{ position: relative; }

  .slider .wrapper{
    overflow: hidden;
  }

  .slider .prev{
    width: get-m-vw(16px);
    height: get-m-vw(16px);
    top: 0; bottom: 0;
    margin: auto;
    left: get-m-vw(14px);
    position: absolute;
    border-top: get-m-vw(2px) solid $black;
    border-left: get-m-vw(2px) solid $black;
    transform: rotate(-45deg);
  }

  .slider .next{
    width: get-m-vw(16px);
    height: get-m-vw(16px);
    top: 0; bottom: 0;
    margin: auto;
    right: get-m-vw(14px);
    position: absolute;
    border-bottom: get-m-vw(2px) solid $black;
    border-right: get-m-vw(2px) solid $black;
    transform: rotate(-45deg);
  }

  .slider .container{
    display: flex;
    &.transition{
      transition: 0.3s;
    }
  }

  .slider .slide{
    flex-shrink: 0;
    width: get-m-vw(166px);
  }
}
