
.stats--article-2{

  margin-top: get-m-vw(100px);
  position: relative;
  z-index: 2;

  .text-left-container h2{
    display: none;
  }
  .text-left-container img{
    width: get-m-vw(375px);
    height: auto;
    margin-left: get-m-vw(-20px);
    margin-top: get-m-vw(36px);
  }
  .text-right-container{
    margin-top: get-m-vw(60px);
    position: relative;

    img{
      width: get-m-vw(227px);
      margin-top: get-m-vw(20px);
    }

    ::before{
      width: 100vw;
      height: calc(100% + 22vw);
      left: get-m-vw(-20px); top: get-m-vw(-65px);

      position: absolute;

      background-color: $sand;
      content: '';
      z-index: -1;
    }
  }
}
