.m-hide{ display: none; }

section#statistics{
  width: 100vw;
  height: max-content;
  padding: get-m-vw(20px);
  padding-top: get-m-vw(52px);
  padding-bottom: get-m-vw(40px);
  position: relative;
  color: $black;
}


#stats--article-3{

  color: $black;
  z-index: 2;

  .text-left-container{
    h3:nth-child(3){ margin-top: get-m-vw(32px); }
    p{
      @include m-helvetica-12-bold;
      margin-top: get-m-vw(16px);
      height: get-m-vw(42px);
    }
  }

  .text-right-container{
    margin-top: get-m-vw(60px);

    img, span{ display: block; }

    //first block
    div:nth-child(1){
      padding: get-m-vw(10px);
      padding-bottom: get-m-vw(20px);

      background-color: $sand;
      box-shadow: 0px get-m-vw(2px) get-m-vw(6px) 0px rgba(0,0,0,0.18);

      img{ margin-top: get-m-vw(10px); }
    }

    div:nth-child(2){
      margin-top: get-m-vw(16px);

      span{ margin-top: get-m-vw(8px); }
    }
  }

  .slider{
    width: get-m-vw(375px);
    margin-left: get-m-vw(-20px);
    position: relative;

    .wrapper{
      width: get-m-vw(375px);
      height: max-content;
      padding: get-m-vw(10px) 0;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .container{
      display: flex;
      &.transition{
        transition: 0.3s;
      }
    }

    &.transition button{ color: transparent!important; }

    button{
      width: get-m-vw(24px);
      height: get-m-vw(250px);
      right: get-m-vw(30px); bottom: get-m-vw(20px);

      position: absolute;
      display: inline-block;
      border-radius: get-m-vw(4px);
      background-color: $black;
      color: $sand;
      transition: 0.3s;

      span{
        width: 100%;
        display: block;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        @include m-helvetica-12-bold;
        line-height: get-m-vw(24px);
      }

      &::before{
        width: 0; height: 0;
        display: block;
        position: absolute;
        right: get-m-vw(-8px);
        top: 0; bottom: 0;
        margin: auto;

        border-left: get-m-vw(8px) solid $black;
        border-top: get-m-vw(8px) solid transparent;
        border-bottom: get-m-vw(8px) solid transparent;
        content: '';
      }
    }

    .slide{
      width: get-m-vw(355px);
      height: max-content;
      margin: 0 get-m-vw(10px);
      padding: get-m-vw(10px);
      border-radius: get-m-vw(10px);
      background: $sand;
      box-shadow: get-m-vw(1px) get-m-vw(3px) get-m-vw(6px) rgba(black, 0.15);

      h3{ @include m-bebas-22-bold; span{ color: rgba($black, 0.5); }}

      img{
        width: get-m-vw(290px);
        margin-top: get-m-vw(10px);
        display: block;
      }
    }
  }
}
