.br-pc{ display: none; }

section#title{
  width: 100vw;
  padding: 0 get-m-vw(20px);
  position: relative;

  &::after{
    width: 100vw;
    height: 10vw;
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(rgba($sand, 0) 0%, $sand 90%);
    content: '';
  }
}

section#title >
article{
  padding-top: get-m-vw(170px);
  padding-bottom: get-m-vw(170px);
  position: relative;
  z-index: 3;

  & > :nth-child(1){
    width: max-content;
    @include m-bebas-42-bold;
  }

  & > :nth-child(2){
    margin-top: get-m-vw(4px);
    width: max-content;
    @include m-bebas-22-bold;
  }

  & > :nth-child(3){
    margin-top: get-m-vw(8px);
    @include m-helvetica-12-bold;
  }

  & > :nth-child(4){
    margin-top: get-m-vw(32px);
    @include m-helvetica-12-bold;
  }

  .links-container{
    margin-top: get-m-vw(34px);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: get-m-vw(5px);

    a{
      width: max-content;
      height: get-m-vw(32px);
      padding: 0 get-m-vw(14px);
      padding-top: get-m-vw(8px);
      background-color: $black;
      border-radius: get-m-vw(5px);
    }
  }
}

article.title--aside{
  padding-bottom: get-m-vw(82px);
  ul{
    margin-top: get-m-vw(50px);

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: get-m-vw(16px);
    justify-content: center;

    img{
      width: get-m-vw(288px);
      display: block;
    }
  }
  .notice{
    width: get-m-vw(198px);
    margin-left: get-m-vw(20px);
    margin-top: get-m-vw(30px);
    display: block;
    @include m-helvetica-12-bold;
  }
}

#forbes{
  width: max-content;
  height: get-m-vw(26px);
  margin-top: get-m-vw(24px);

  position: absolute;
  display: flex;
  align-items: center;

  color: $black;

  span{
    height: get-m-vw(10px);
  }
  a{
    width: get-m-vw(67px);
    height: get-m-vw(26px);

    display: inline-block;

    background-image: url('~assets/images/forbes_logo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#charity{ display: none; }
