#project-section{
  height: max-content;
  display: flex;
  justify-content: center;
  background: $sand;
  color: $black;
}

.project-section_text-left{
  width: get-vw(680px);
  padding: get-vw(16px);

  h1{ @include bebas-64-bold; }

  &_images{
    margin-top: get-vw(12px);
    width: 100%;
    position: relative;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-column-gap: get-vw(20px);

    &::before{
      width: get-vw(2px);
      height: get-vw(228px);
      left: get-vw(185px);
      top: get-vw(10px);
      position: absolute;
      background: $black;
      content: '';
    }

    &_poster{
      width: get-vw(175px);
      display: inline-block;
      border-radius: get-vw(8px);
    }

    &_moodboard{
      width: get-vw(437px);
      display: inline-block;
    }
  }

  h2{
    margin-top: get-vw(26px);
    @include bebas-30-bold;
  }
  p{
    margin-top: get-vw(8px);
    @include helvetica-12-medium;
  }
}

.project-section_text-right{
  width: get-vw(320px);
  padding: get-vw(16px);
  padding-top: get-vw(82px);
  position: relative;

  &_movie-info{
    h2{ @include bebas-30-bold; }
    ul{
      margin-top: get-vw(8px);
      display: grid;
      grid-auto-rows: max-content;
      grid-row-gap: get-vw(6px);
      @include helvetica-14-bold;
      span{ color: rgba($black, 0.5); }
    }
  }

  &_development-schedule{
    margin-top: get-vw(110px);
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: get-vw(12px);

    h2{
      margin-bottom: get-vw(-12px);
      @include bebas-30-bold;
    }

    div{
      position: relative;

      & > span{
        display: inline-block;
        margin-top: get-vw(10px);
        @include helvetica-12-bold;
        color: rgba($black, 0.5);
      }
      h3{
        margin-top: get-vw(8px);
        @include bebas-22-bold;
      }
      p{
        margin-top: get-vw(8px);
        span{
          display: block;
          color: #FF5C43;
        }
        @include helvetica-12-bold;
      }

      &:not(:last-child)::before{
        width: 100%;
        height: get-vw(16.5px);
        left: 0; bottom: get-vw(-26px);
        position: absolute;
        background: url('~assets/images/broken_line.svg') right top / 100% auto no-repeat;
        content: '';
      }
    }
  }

  &::before{
    width: get-vw(2px);
    top: get-vw(100px);
    bottom: get-vw(24px);
    left: 0;
    position: absolute;
    background: $black;
    content: '';
  }
}
