.filming-section_table{
  width: get-vw(730px);
  height: get-vw(475px);
  margin-top: get-vw(78px);
  display: flex;
  flex-direction: column;
  border-radius: get-vw(15px);
  background: $sand;
  border: get-vw(2px) solid $black;

  &_controls{
    flex-shrink: 0;
    display: flex;

    & > :first-child{ border-radius: get-vw(12px) 0 get-vw(3px) get-vw(3px); }

    & > button{
      width: max-content;
      height: get-vw(30px);
      padding: 0 get-vw(10px);
      padding-top: get-vw(4px);
      @include bebas-20-bold;
      border-radius: 0 0 get-vw(3px) get-vw(3px);
      color: $black;
    }

    & > button.active{
      position: relative;
      background-color: $black;
      color: $sand;

      &::after{
        width: 0; height: 0;
        left: 0; right: 0;
        margin: auto;
        bottom: get-vw(-10px);
        position: absolute;
        border-top: get-vw(10px) solid $black;
        border-left: get-vw(10px) solid transparent;
        border-right: get-vw(10px) solid transparent;
        content: '';
      }
    }
  }

  &_content{
    width: 100%;
    flex-grow: 1;
  }
}

.filming-section_table_content_tab{
  width: 100%;
  height: get-vw(440px);
  position: relative;
  color: $black;

  .hightlight{
    width: get-vw(170px);
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border: get-vw(2px) solid;
    border-radius: get-vw(10px);
    z-index: 1;
    overflow: hidden;

    span{
      width: 100%;
      height: get-vw(44px);
      position: absolute;

      &:nth-child(1){
        top: 0;
        z-index: 1;
      }
      &:nth-child(2){
        bottom: 0;
        opacity: 0.2;
      }
    }

    &::after{
      left: get-vw(0px);
      right: get-vw(0px);
      top: get-vw(2px);
      bottom: get-vw(2px);
      position: absolute;
      backdrop-filter: blur(2px);
      content: '';
    }

    &.highlight-0{
      border-color: #FF6969;
      span{ background-color: #FF6969; }
      &::after{ background-color: rgba(#FF6969, 0.1); }
    }

    &.highlight-1{
      border-color: #FFB858;
      span{ background-color: #FFB858; }
      &::after{ background-color: rgba(#FFB858, 0.1); }
    }

    &.highlight-2{
      border-color: #9D9AAD;
      span{ background-color: #9D9AAD; }
      &::after{ background-color: rgba(#9D9AAD, 0.1); }
    }
  }
}

.filming-section_table_content_tab-0{

  table, tbody{ display: block; }

  tbody{
    padding: get-vw(28px) 0 0 get-vw(16px);
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: get-vw(10px);

    tr{
      width: 100%;
      height: get-vw(24px);
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: get-vw(160px) repeat(3, get-vw(170px));
      grid-column-gap: get-vw(10px);
      justify-items: center;
      align-items: center;
      z-index: 2;
      &:nth-child(1){
        height: get-vw(40px);
        padding-bottom: get-vw(16px);
        th:nth-child(n+2){ color: $sand; }
      }
      &:last-child{
        height: get-vw(44px);
        padding-top: get-vw(4px);
      }
      &:nth-child(2) :last-child{
        position: relative;
        &::after{
          width: get-vw(42px);
          height: get-vw(66px);
          left: get-vw(-9px);
          top: get-vw(-7.5px);
          position: absolute;
          display: block;
          border: get-vw(3px) dashed #9D9AAD;
          border-radius: get-vw(10px);
          content: '';
        }
      }
    }

    th{
      position: relative;
      @include bebas-22-bold;
      letter-spacing: get-vw(-0.6px);
      z-index: 1;

      span{
        left: 0; bottom: get-vw(-10px);
        position: absolute;
        @include helvetica-12-bold;
        color: rgba($black, 0.5);
      }
      &:nth-child(1){ justify-self: flex-start; }
    }

    td{
      @include bebas-20-bold;

      &:nth-child(1){
        @include helvetica-12-bold;
        justify-self: flex-start;
      }
    }
  }

  .lines{
    left: get-vw(16px); right: get-vw(10px);
    top: get-vw(78px);
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: get-vw(24px);
    grid-row-gap: get-vw(10px);
    align-items: center;
    justify-items: flex-end;

    span{
      width: calc(100% - #{get-vw(136px + 8px)});
      height: get-vw(2px);
      background: rgba($black, 0.3);
      content: '';

      &:nth-child(2){ width: calc(100% - #{get-vw(122px + 8px)}); }
      &:nth-child(3){ width: calc(100% - #{get-vw(153px + 8px)}); }
      &:nth-child(4){ width: calc(100% - #{get-vw(145px + 8px)}); }
      &:nth-child(5){ width: calc(100% - #{get-vw(104px + 8px)}); }
      &:nth-child(6){ width: calc(100% - #{get-vw(144px + 8px)}); }
      &:nth-child(7){ width: calc(100% - #{get-vw(88px + 8px)}); }
      &:nth-child(8){ width: calc(100% - #{get-vw(105px + 8px)}); }
    }
  }

  .hightlight{
    height: get-vw(380px);
    top: get-vw(16px);
  }

  .highlight-0{
    left: get-vw(186px);
  }

  .highlight-1{
    left: get-vw(186 + 170px + 10px);
  }

  .highlight-2{
    left: get-vw(186 + 170px * 2 + 10px * 2);
  }

  .notice{
    right: get-vw(10px);
    bottom: get-vw(16px);
    position: absolute;
    @include helvetica-14-bold;
  }
}

.filming-section_table_content_tab-1{

  table, tbody{ display: block; }

  tbody{
    padding: get-vw(28px) 0 0 get-vw(16px);
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: get-vw(2px);

    tr{
      width: 100%;
      height: get-vw(27px);
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: get-vw(160px) repeat(3, get-vw(170px));
      grid-column-gap: get-vw(10px);
      justify-items: center;
      align-items: center;
      z-index: 1;

      &:nth-child(1){
        height: get-vw(47px);
        padding-bottom: get-vw(20px);
        & > :nth-child(1){ letter-spacing: get-vw(-0.8px); }
        & > :nth-child(n+2){ color: $sand; }
      }
      &:last-child{
        height: get-vw(45px);
        padding-top: get-vw(18px);
      }
      & > :nth-child(1){ justify-self: flex-start; }
    }
  }

  th{
    position: relative;
    @include bebas-22-bold;
    letter-spacing: get-vw(-0.6px);

    span{
      left: 0; bottom: get-vw(-10px);
      position: absolute;
      @include helvetica-12-bold;
      color: rgba($black, 0.5);
    }
  }

  td{
    @include bebas-20-bold;
    letter-spacing: get-vw(-0.4px);

    span{
      color: rgba($black, 0.5);
    }
  }

  td:not(:first-child){ color: #3FAC50; }
  &.mode-1{
    td:not(:first-child){ color: #7360FF; }
    tr:nth-child(n+7):not(:last-child) td:not(:first-child){
      opacity: 0.5;
    }
  }

  &.mode-0 .lines{
    left: get-vw(16px); right: get-vw(10px);
    top: get-vw(77px);
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: get-vw(27px);
    grid-row-gap: get-vw(2px);
    align-items: center;
    justify-items: flex-end;

    span{
      width: calc(100% - #{get-vw(100px + 8px)});
      height: get-vw(2px);
      background: rgba($black, 0.3);
      content: '';
      &:nth-child(n+4){ width: calc(100% - #{get-vw(107px + 8px)}); }
    }
  }

  &.mode-1 .lines{
    left: get-vw(16px); right: get-vw(10px);
    top: get-vw(76px);
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: get-vw(27px);
    grid-row-gap: get-vw(2px);
    align-items: center;
    justify-items: flex-end;

    span{
      width: calc(100% - #{get-vw(100px + 8px)});
      height: get-vw(2px);
      background: rgba($black, 0.3);
      content: '';
      &:nth-child(n+4){ width: calc(100% - #{get-vw(92px + 8px)}); }
    }
  }

  .hightlight{
    height: get-vw(374px);
    top: get-vw(16px);
  }

  .highlight-0{
    left: get-vw(186px);
  }

  .highlight-1{
    left: get-vw(186 + 170px + 10px);
  }

  .highlight-2{
    left: get-vw(186 + 170px * 2 + 10px * 2);
  }

  .toggle-container{
    right: get-vw(10px);
    bottom: get-vw(10px);
    position: absolute;
  }

  .notice{
    left: get-vw(10px);
    bottom: get-vw(10px);
    position: absolute;
    color: rgba($black, 0.5);
    @include helvetica-12-medium;

    &::before{
      width: get-vw(15px);
      height: get-vw(15px);
      margin-bottom: get-vw(-3px);
      margin-right: get-vw(6px);
      display: inline-block;
      background: #3FAC50;
      border-radius: get-vw(3px);
      content: '';
    }
  }

  &.mode-1 .notice{
    &::before{
      background: #7360FF;
    }
  }
}

.filming-section_table_content_tab-2{

  .notice{
    right: get-vw(10px);
    bottom: get-vw(5px);
    position: absolute;
    @include helvetica-12-bold;
  }

  table, tbody{ display: block; }

  tbody{
    padding: get-vw(20px) 0 0 get-vw(16px);
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: get-vw(16px);
  }

  tr{
    width: 100%;
    height: get-vw(24px);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: get-vw(160px) repeat(3, get-vw(170px));
    grid-column-gap: get-vw(10px);
    justify-items: center;
    align-items: center;
    z-index: 1;

    & > :nth-child(1){
      justify-self: flex-start;
      text-align: left;
    }

    &:nth-child(1){
      margin-bottom: get-vw(-16px);
      height: get-vw(27px);
      grid-template-columns: max-content;
      th{ @include bebas-22-bold; }
    }

    &:nth-child(2){
      height: get-vw(44px);
      & > :nth-child(n+2){ color: $sand; }
      th{ @include bebas-22-bold; }
    }

    &:nth-child(6){
      height: get-vw(44px);
      th{ @include bebas-22-bold; }
    }

    &:nth-child(7){
      grid-template-columns: 1fr;
      margin: get-vw(-6px) 0;
    }

    &:nth-child(8){
      height: get-vw(94.5px);
      grid-template-columns: repeat(3, max-content);
      justify-content: space-around;
    }
  }

  th{
    position: relative;
    @include bebas-20-bold;
    letter-spacing: get-vw(-0.6px);

    .opacity{ color: rgba($black, 0.5); }
    span:not(.opacity){
      width: get-vw(143px);
      left: 0; top: get-vw(18px);
      position: absolute;
      @include helvetica-12-bold;
      color: rgba($black, 0.5);
    }
    sup{
      @include helvetica-12-bold;
      color: $black;
    }
  }

  td{
    @include bebas-20-bold;
    letter-spacing: get-vw(-0.4px);

    img{
      width: auto;
      height: get-vw(94.5px);
      display: block;
    }
  }

  .lines{
    left: get-vw(16px); right: get-vw(10px);
    top: get-vw(107px);
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: get-vw(24px);
    grid-row-gap: get-vw(16px);
    align-items: center;
    justify-items: flex-end;

    span{
      width: 100%;
      height: get-vw(2px);
      background: rgba($black, 0.3);
      content: '';

      &:nth-child(1){ width: calc(100% - #{get-vw(78px + 8px)}); }
      &:nth-child(2){ width: calc(100% - #{get-vw(59px + 8px)}); }
      &:nth-child(3){ width: calc(100% - #{get-vw(105px + 8px)}); }
    }
  }

  .hightlight{
    height: get-vw(226px);
    top: get-vw(44px);
  }

  .highlight-0{
    left: get-vw(186px);
  }

  .highlight-1{
    left: get-vw(186 + 170px + 10px);
  }

  .highlight-2{
    left: get-vw(186 + 170px * 2 + 10px * 2);
  }
}

.filming-section_table_content_tab-3{
  padding: 0 get-vw(12px);
  padding-top: get-vw(65px);
  display: grid;
  grid-template:
  repeat(3, max-content) /
  repeat(2, 1fr);
  grid-gap: get-vw(24px);

  h2{
    grid-column: 1/3;
    @include bebas-30-bold;
  }

  h3{ @include bebas-22-bold; }
  p{ @include helvetica-12-medium; span{color: rgba($black, 0.5)}}
}
