section#how-it-works{
  width: 100vw;
  height: max-content;
  display: flex;
}

.section-how-it-works_text-left{
  flex-shrink: 0;
  width: get-vw(960px);

  h1{
    width: get-vw(412px);
    margin-left: get-vw(115px);
    margin-top: get-vw(80px);
  }
  p{
    width: get-vw(418px);
    margin-left: get-vw(115px);
    margin-top: get-vw(-5px);
  }
  img{
    width: get-vw(729px);
    height: auto;
    margin-left: get-vw(90px);
    margin-top: get-vw(20px);
  }
}

.section-how-it-works_text-right{
  flex-grow: 1;
  padding-left: get-vw(30px);
  padding-top: get-vw(180px);
  background-color: $sand;

  img{
    width: get-vw(225px);
    margin-left: get-vw(5px);
    margin-top: get-vw(48px);

    display: block;
  }
}
