section#title{
  width: 100vw;
  min-height: get-vw(645px);
  height:100vh;

  position: relative;
  display: flex;

  overflow: hidden;

  background: url('~assets/images/title.png');
  background-size: 100vw auto;
  background-position: center;
  background-repeat: no-repeat;

  article:not(.title--aside){
    padding: get-vh(216px) get-vw(678px) 0 get-vw(120px);
    flex-grow: 1;


    & > :nth-child(1){
      width: get-vw(487px);
    }
    & > :nth-child(2){
      width: get-vw(366px);
      margin-top: get-vw(-8px);
    }
    & > :nth-child(3){
      width: get-vw(394px);
      margin-top: get-vw(60px);
    }

    .links-container{
      height: get-vw(32px);
      margin-top: get-vw(18px);

      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-column-gap: get-vw(12px);

      div{
        padding: 0 get-vw(15px);
        padding-top: get-vw(7px);

        background-color: $black;
        border-radius: get-vw(3px);
        cursor: pointer;
      }
    }
  }

  .title--aside-wrapper{
    width: get-vw(320px);
    height: 100%;
    right: 0; top: 0;

    position: absolute;

    :before{
      width: get-vw(2px);
      height: calc(100vh - 5.07812vw * 2);
      left: 0; top: 5.07812vw;

      position: absolute;


      background-color: $black;
      content: '';
    }

    article.title--aside{
      width: 100%;
      height: 100%;
      padding-left: get-vw(14px);
      padding-right: get-vw(16px);
      padding-top: get-vh(120px);
      background-color: $sand;

      & > :nth-child(1){
        width: get-vw(292px);
        letter-spacing: get-vw(-0.3px);
      }
      & > :nth-child(2){
        width: get-vw(240px);
        margin-top: get-vw(5px);
      }

      ul{
        margin-top: get-vw(28px);

        display: grid;
        grid-auto-flow: row;
        grid-template-rows: max-content;
        grid-row-gap: get-vw(10px);

        img{
          width: get-vw(244px);
          display: block;
        }
      }

      span.notice{
        width: get-vw(198px);
        margin-left: get-vw(16px);
        margin-top: get-vw(20px);
        font-weight: bold;
        display: inline-block;
      }
    }
  }
}

#forbes{
  width: max-content;
  height: get-vw(26px);
  left: get-vw(120px); bottom: get-vw(20px);

  position: absolute;
  display: flex;
  align-items: flex-start;

  color: $black;

  span{
    height: get-vw(12px);
    margin-top: get-vw(8.5px);
  }
  a{
    width: get-vw(67px);
    height: get-vw(26px);

    display: inline-block;

    background-image: url('~assets/images/forbes_logo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#charity{
  width: get-vw(450px);
  padding: get-vw(20px);
  right: get-vw(0px); left: get-vw(410px);
  bottom: get-vw(190px);

  position: absolute;

  border: get-vw(2px) solid $black;
  backdrop-filter: blur(8px);
  transition: opacity 0.1s;

  display: none;
  opacity: 0;

  &::before{
    width: 0;
    height: 0;
    right: 0; left: 0;
    bottom: get-vw(-12px);
    margin: auto;

    position: absolute;
    display: block;

    border-left: transparent solid get-vw(3.5px);
    border-right: transparent solid get-vw(3.5px);
    border-top: $black solid get-vw(3.5px);
    content: '';
  }
}
