@import './assets/scss/variables.scss';
@import './assets/scss/functions.scss';
@import './assets/scss/z-index.scss';
@import './assets/scss/typography.scss';

*{ box-sizing: border-box; }

html{
  width: 100vw;
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  width: 100vw;
  height: auto;
  margin: 0;
  background-color: $sand;
}

#root{
  width: 100vw;
  position: relative;
}

ul{ list-style: none; }

p, ul, li, span, h1, h2, h3, h4,  hr { margin: 0; padding: 0; }

a{
  color: inherit;
  text-decoration: none!important;
}

a, button, u{
  cursor: pointer;
}

input, button{
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  outline: none;
}

@media screen and (min-width: 1025px){
  @import './assets/scss/pc/mixins/typography.scss';

  @import './assets/scss/pc/dialogWindow.scss';
  @import './assets/scss/pc/header.scss';
  @import './assets/scss/pc/contacts.scss';
  @import './assets/scss/pc/footer.scss';

  @import './assets/scss/pc/about.scss';
  @import './assets/scss/pc/title.scss';
  @import './assets/scss/pc/stats.scss';
  @import './assets/scss/pc/about_us.scss';
  @import './assets/scss/pc/sections/filming.scss';
  @import './assets/scss/pc/tabs.scss';

  @import './assets/scss/pc/counter.scss';
  @import './assets/scss/pc/animation.scss';

  @import './assets/scss/pc/form.scss';
  @import './assets/scss/pc/movies.scss';

  @import './assets/scss/pc/modal.scss';
  @import './assets/scss/pc/toggle.scss';
  @import './assets/scss/pc/projectPage.scss';
}

@media screen and (max-width: 1024px){

  body{ -webkit-text-size-adjust: none; }
  #root{overflow: hidden;}

  @import './assets/scss/mobile/mixins/typography.scss';
  @import './assets/scss/mobile/header.scss';
  @import './assets/scss/mobile/footer.scss';
  @import './assets/scss/mobile/dialogWindow.scss';

  @import './assets/scss/mobile/title.scss';
  @import './assets/scss/mobile/about.scss';
  @import './assets/scss/mobile/stats.scss';
  @import './assets/scss/mobile/sections/filming.scss';
  @import './assets/scss/mobile/sections/filming_table.scss';
  @import './assets/scss/mobile/aaa.scss';

  @import './assets/scss/mobile/form.scss';
  @import './assets/scss/mobile/movies.scss';

  @import './assets/scss/mobile/modal.scss';
  @import './assets/scss/mobile/projectPage.scss';
}
