@import './assets/scss/variables.scss';
@import './assets/scss/functions.scss';
@import './assets/scss/z-index.scss';
@import './assets/scss/typography.scss';
*{ box-sizing: border-box; }

html{
  width: 100vw;
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  width: 100vw;
  height: auto;
  margin: 0;
  background-color: $sand;
}

#root{
  width: 100vw;
  position: relative;
}

ul{ list-style: none; }

p, ul, li, span, h1, h2, h3,  hr { margin: 0; padding: 0; }

a{
  color: inherit;
  text-decoration: none!important;
}

a, button, u{
  cursor: pointer;
}

input, button{
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  outline: none;
}

@media screen and (min-width: 1025px){
  @import './assets/scss/header.scss';
  @import './assets/scss/contacts.scss';
  @import './assets/scss/footer.scss';

  @import './assets/scss/about.scss';
  @import './assets/scss/title.scss';
  @import './assets/scss/stats.scss';
  @import './assets/scss/about_us.scss';
  @import './assets/scss/service.scss';
  @import './assets/scss/tabs.scss';

  @import './assets/scss/counter.scss';
  @import './assets/scss/animation.scss';

  @import './assets/scss/form.scss';
  @import './assets/scss/movies.scss';
}

@media screen and (max-width: 1024px){

  body{ -webkit-text-size-adjust: none; }
  #root{overflow: hidden;}

  @import './assets/scss/mobile/header.scss';
  @import './assets/scss/mobile/footer.scss';

  @import './assets/scss/mobile/title.scss';
  @import './assets/scss/mobile/about.scss';
  @import './assets/scss/mobile/stats.scss';
  @import './assets/scss/mobile/service.scss';
  @import './assets/scss/mobile/aaa.scss';

  @import './assets/scss/mobile/form.scss';
  @import './assets/scss/mobile/movies.scss';
}
